@use "../variables";

.app-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 0.5em;
  }

  a {
    display: block;

    img {
      width: 100%;
      max-height: 5em;
    }
  }
}

.favs,
.parsers {
  list-style: none;
  padding: 0;
  margin: 0;

  li a {
    width: auto;
    color: black;
    display: block;
    text-align: left;

    padding: 10px 0 9px 12px !important;
    border-top: 1px solid #ddd;

    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05) inset;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      text-decoration: none;
      background-color: #efefef;
      transition: background-color 0.2s ease-in-out;
    }

    & > .icon:first-child {
      margin-inline-end: 0.6em;
    }
  }
}

p.action {
  text-align: center;
}

.static_controller {
  img#compact {
    width: 300px;
  }

  img.illustrate {
    float: left;
    padding-right: 5px;
    padding-bottom: 5px;
  }
}
