#
# Add local additions to Gemfile into Gemfile.local
#

# Example: Database gems
#
# SQLite 3
# gem "sqlite3"
#
# MySQL
# gem "mysql2"
#
# PostgreSQL
# gem "pg"

# Example: Web-Server
#
# gem "thin"
# gem "unicorn"

# Example: Deployment
#
# gem "capistrano"

# Example: Development utilities
#
# gem "libnotify"
