[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
mkdocs-material = "~=9.1.2"
mkdocs-git-revision-date-plugin = "~=0.3.2"
mdx-truly-sane-lists = "~=1.2"
mkdocs-awesome-pages-plugin = "~=2.8.0"
