
@import 'responsive';


$base-body-padding: 6px !default;
$base-body-fluid: true !default;

$base-min-width: 900px !default;
$base-max-width: 1000px !default;
$base-fixed-width: 900px !default;

$base-sidebar-width:        200px !default;
$base-second-sidebar-width: 200px !default;

$base-inline-padding:    20px !default;
$base-content-padding:    9px !default;
$base-container-padding: 20px !default;
$base-top-padding:       20px !default;
$base-body-padding:       6px !default;

$header-bg-color: #333;


body {
  margin: 0;
  padding: 0;

  background-color: #ededed;
  background-image: image-url("fbg.png");

  .wrapper {
    margin: 0 auto;
    min-width: $base-min-width - 8px;
    max-width: $base-max-width;
  }

  // @include media(handheld) {
  //   padding: 0 0;

  //   &, .wrapper {
  //     min-width: 0%;
  //     max-width: 100%;
  //     width: 100%;
  //   }
  // }

  // @include media(mobile) {
  //   &, .wrapper {
  //     padding: 0;
  //   }
  // }
}

.float-wrapper { @include clearfix; }
.clear { clear: both; }
.centered { text-align: center; }

body > header {
  clear: both;
  padding: 0 5px;
  margin-top: 2px;
  margin-bottom: 10px;
  // color: #fff;

  // background: $header-bg-color;
  // @include background-image(linear-gradient(#fff, darken($header-bg-color, 2%)));
  // @include box-shadow(#ccc 0 0 1px);
  // @include border-radius(2px);

  // @include media(handheld) {
  //   @include border-radius(0);
  //   margin-top: 0;
  //   padding: 0 1px 1px;
  // }

  // border-bottom: 1px solid #ccc;
  overflow: hidden;

  h1 {
    background: transparent image-url("logo3.png") no-repeat 0 50%;

    font-size: 230%;
    width: 50%;
    float: left;
    padding: 5px 0 5px 75px;
    // color: #fff;
    // height: 50px;

    a {
      color: #333;
      &:hover {
        text-decoration: none;
      }
    }

    img {
      float: right;
      position: absolute;
      top: -20px;
      margin-left: 40px;
    }
  }

  .account {
    float: right;
    text-align: right;
    width: 40%;
    padding: 10px 10px 0;

    > img {
      float: right;
      border-radius: 3px;
      margin-left: 10px;
    }

    > span {
      display: block;
      padding-top: 5px;
    }

    .connections {
      font-size: 1.3em;

      a {
        color: #333;
        margin-left: 3px;
        text-shadow: 1px 1px 0 #fff;
        font-size: 24px;
        cursor: default;

        &.inactive {
          color: #aaa;
          cursor: pointer;

          &:hover {
            color: #666;
          }
        }
      }
    }
  }
}

body > #container {

  #content-pane {
    background-color: #fff;
    @include box-shadow(0 0 3px rgba(0, 0, 0, 0.4));
    // border-radius: 20px;
    padding: 15px;
    margin: 0 -15px;
  }
}

body > footer {
  // border-top: 1px solid $frame-color;
  padding: 4px 1px;
  position: relative;
  text-align: center;
  color: #aaa;

  p { font-size: 11px; font-size: 1.1rem; margin: 0; width: 33%; float: left; }
  p.left { float: left; text-align: left; }
  p.right { float: right; text-align: right; }

  // @include media(mobile) {
  //   padding-left: 1px;
  //   padding-right: 1px;
  //   p { text-align: left; width: 49% !important;}
  //   p.left { display: none !important; }
  // }

  a { color: #aaa; }
  a:hover { color: #555; }
}
