
@import 'compass';
@import 'mixins';
@import 'variables';

$box-nav-active-color: #B42946 !default;
$box-nav-hover-color: #eee !default;

.box {
  margin-top: 10px;
  border: 2px solid lighten($frame-color, 12.5%);
  @include border-radius(3px);

  > header {
    @include background-image(linear-gradient(#fff, darken($header-bg-color, 2%)));
    padding: 5px 10px 5px;
    margin: 0;

    h1, h2, h3, h4, h5, h6 {
      margin: 0;
      border-bottom: 0;
    }
    a { color: $text-color; font-weight: bold; }
  }

  > header, > section, > nav, > table, > div, > p {
    border: 1px solid $frame-color;
    border-top-width: 0;
    margin: 0;
    display: block;
    overflow: hidden;

    &:first-child {
      border-top-width: 1px;
    }
  }
  > section { padding: 0 10px; }

  > nav {
    border-bottom: none;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    a {
      display: block;
      padding: 2px 2px 2px 18px;
      border-left: 2px solid transparent;
      &:hover, &.hover { background-color: $box-nav-hover-color; }
    }

    li.current > a, li > a.active, li > a:active {
      border-left-color: $box-nav-active-color;
    }

    > ul > li {
      border-top: 1px solid #fff;
      border-bottom: 1px solid $frame-color;

      > a {
        padding: 4px 10px 4px 8px;
        background-color: lighten($header-bg-color, 3%);
      }

      ul {
        border-top: 1px solid $frame-color;
        background-color: #fff;
        padding: 2px 0;
      }
    }
  }
}
