
@import 'compass';
@import 'variables';
@import 'responsive';

$btn-primary: #3079ED !default;
$btn-success: #238625 !default;

.btn {
  margin: 1px;
  padding: 5px 8px;
  cursor: pointer;
  display: inline-block;

  box-sizing: border-box;
  text-align: center;
  white-space: pre;
  font: -webkit-small-control;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;

  @include btn(lighten($frame-color, 5%));

  &.btn-small {
    font-size: 12px;
    font-size: 1.2rem;
    padding: 2px 4px;
  }

  @include media(mobile) {
    padding: 3px 5px;
  }

  &:focus, &.focus {
    outline: none;
  }
}

.btn-group {

  a {
    @extend .btn;
    @include border-radius(0);
    border-right-width: 0;
    margin: 0;

    display: block;
    float: left;

    &:hover, &:active, &.active, &.current, &:focus, &.focus  {
      border-right-width: 1px;
      + a { border-left-width: 0; }
    }

    &:first-child {
      @include border-left-radius(2px);
    }
    &:last-child  {
      @include border-right-radius(2px);
      border-right-width: 1px;
    }
  }

  &.btn-small a { @extend .btn-small }
}

.btn-primary {
  @include btn($btn-primary, #fff);
}

.btn-success {
  @include btn($btn-success, #fff);
}
