
@import 'compass';
@import 'mixins';
@import 'variables';

.form {
  @include form($form-label-width);

  &.form-small { @include form(60px); }

  .input, .control-group {
    @include p;
    padding-right: 10px;
    position: relative;

    > .label:first-child, > label:first-child {
      position: relative;
      text-align: right;
      padding: 3px 0;
      z-index: 99;

      label {
        background-color: #fff;
      }
      abbr {
        float: right;
        color: red;
        margin: 0 0 0 3px;
      }

      // @include media(handheld) {
      //   text-align: left;
      //   padding-bottom: 2px;
      //   padding-top: 0;
      //   abbr  { float: none; }
      //   label { padding-right: 3px; }
      // }
    }

    input, select, textarea {
      &.text, &.string, &.password, &.select, &.time_zone {
        width: 300px;
        max-width: 100%;
      }

      &.text, &.string, &.password {
        background-color: #fff;
        border: 1px solid $form-input-border;
        vertical-align: middle;
        padding: 3px;
        margin: 0 0 0 1px;
        outline: none;
        @include border-radius(2px);

        &:hover {
          @if lightness($form-input-border) < 40% {
            border-color: lighten($form-input-border, 10%);
          } @else {
            border-color: darken($form-input-border, 10%);
          }
        }
        &:focus {
          @include box-shadow(0 0 3px #aaa);
          border-color: #999;
        }
        &[readonly] { background-color: #eee; }
        &[disabled] {
          background-color: #ddd;
          color: #999;
        }

        &.maximized { width: 100%; }

        // @include media(handheld) {
        //   width: 100%;
        // }
      }
    }
  }

  span.notes {
    // clear: both;
    display: block;

    // @include media(handheld) {
    //   float: right;
    //   position: absolute;
    //   top: 0;
    //   right: 4px;
    //   max-width: 100%;
    //   height: 1.1em;
    //   overflow: hidden;
    //   background-color: #fff;
    // }
  }

  span.hint, span.error {
    color: lighten($text-color, 30%);
    font-style: italic;
    font-size: 11px;
    font-size: 1.1rem;
    padding: 0 4px 0 4px;
  }

  span.error {
    color: red;
  }
}
