
@import 'compass';
@import 'responsive';


$grid-count: 12 !default;
$grid-gutter: 1.5% !default;


@mixin grid-span($i: 1, $count: 12, $margin: 1.5%) {
  width: (100%/$count)*$i - $margin + ($margin/$count*$i);
}

@mixin grid-offset($i: 1, $count: 12, $margin: 1.5%) {
  padding-left: (100% / $count) * $i + ($margin/$count*$i);
}


.row {
  @include clearfix;

  display: block;
  width: 100%;
  padding: 0;

  @for $i from 1 through $grid-count {
    > .span#{$i}   { @include grid-span($i, $grid-count, $grid-gutter); }
    > .offset#{$i} { @include grid-offset($i, $grid-count, $grid-gutter); }
  }

  > [class*='span'], > [class*='offset'] {
    margin-left: $grid-gutter;
    float: left;

    &:first-child { margin-left: 0; }
  }

  // @include media(handheld) {
  //   > [class*='span'], > [class*='offset'] {
  //     width: auto;
  //     padding-left: 0;
  //     margin-left: 0;
  //     float: none;
  //   }
  // }
}
