
@import 'compass';
@import 'variables';

.tabs {
  @include pie-clearfix;

  border-bottom: 1px solid $frame-color;
  list-style: none;
  padding: 0;
  margin-bottom: 0;

  li {
    float: left;
    margin: 0 2px -1px 0;

    a {
      border: 1px solid $frame-color;
      display: block;
      padding: 4px 7px;
      position: relative;
      background-color: #fff;
      border-bottom-width: 0;
      outline: none;
      @include border-top-radius(2px);

      &:focus { border-color: darken($frame-color, 35%); }
    }

    &.active a { padding-bottom: 5px; }
  }
}
