
/**
 * Studix Base Library - global toolbar scss stylesheet
 *
 * This files contains all instructions needed to render the global toolbar.
 *
 * @author Jan Graichen <jan.graichen@altimos.de>
 *
 *= require_self
 */

// **** Global toolbar colors and sizes ****

$global-bg: #2d2d2d;                      // toolbar background color
$global-border: #2d2d2d;                  // toolbar border color
$global-shadow: #2d2d2d;                  // toolbar shadow color

$global-link: #ccc;                       // default link color
$global-current: #B42946;                 // border color of current menu item
$global-hover: darken($global-bg, 15%);   // link hover color
$global-color: darken($global-link, 20%); // text color

$global-menu-color: #333;                 // menu link color (clicked)
$global-menu-shadow: #bbb;
$global-menu-bg: #fff;
$global-menu-border: #999;

$global-gradient: 15%;


// **** Global toolbar mixins ****

@import "compass";
@import "mixins";
@import "variables";
@import "responsive";

@mixin global-item {
  border: none;
  margin: 0 1px;
  display: block;
  border-top: 2px solid transparent;

  padding: 4px 8px 6px 8px;
  padding: .4rem .8rem .6rem .8rem;

  height: 24px - 11px;
  height: 2.4rem - 1.1rem;
}

@mixin global-item-handheld {
  padding: 9px 10px 8px 10px;
  padding: .9rem 1rem .8rem 1rem;

  height: 34px - 18px;
  height: 3.4rem - 1.8rem;
}

#global-toolbar {
  color: $global-color;
  padding: 0 1px;
  // font-size: 13px;
  line-height: 1.0em;
  background: lighten($global-bg, 0%);
  border-bottom: 1px solid $global-border;

  @include background-image(
    linear-gradient(lighten($global-bg, $global-gradient), $global-bg));
  @include box-shadow($global-shadow 0 0 2px);

  @include media(display) {
    @include border-bottom-radius(2px);
    padding: 0 4px;
    padding: 0 .4rem;
  }

  height: 24px;
  height: 2.4rem;

  @include media(handheld) {
    height: 34px;
    height: 3.4rem;
  }

  .script-only { display: none; }

  > ul {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      padding: 0;
      float: left;

      @include media(display) {
        position: relative;
      }

      > a, > span {
        @include global-item;
        @include media(handheld) {
          @include global-item-handheld;
        }
      }

      > a {
        color: #ddd;

        &:hover {
          text-decoration: none;
          background-color: $global-hover;
          @include background-image(
            linear-gradient(lighten($global-hover, $global-gradient), $global-hover));
        }

        &.global-icon {
          padding-left: 24px;
          padding-left: 2.4rem;
          background-position: 50% 40%;
          background-repeat: no-repeat;
          &:hover { background-color: $global-hover; }

          @include media(handheld) {
            padding-left: 34px;
            padding-left: 3.4rem;
          }
        }

        &.current {
          color: #fff;
          border-color: $global-current !important;
          font-weight: bold;
        }
      }

      &.clicked {
        > ul {
          visibility: visible !important;
          z-index: 9990;
        }
        > a {
          background-color: #fff;
          @include box-shadow(#fff 0 0 5px);
          color: #333;
          &:hover {
            color: #000;
            background-color: #fff;
            &:not(.global-icon) { background-image: none; }
          }
          z-index: 9999;
        }
      }
    }

    ul {
      color: #333;
      background-color: #fff;
      position: absolute;
      margin: 0;
      padding: 7px 0;
      list-style: none;
      width: auto;
      visibility: hidden;

      border: 1px solid $global-menu-border;
      border-top: 0;
      @include box-shadow(#bbb 0 2px 2px);
      min-width: 18rem;

      @include media(handheld) {
        right: 0;
        left: 0;
        border-left-width: 0;
        border-right-width: 0;
      }

      a {
        display: block;
        padding: 7px 12px 7px 8px;
        border-left: 4px solid transparent;

        @include media(handheld) {
          padding: 12px 16px 11px 16px;
        }

        &:hover {
          text-decoration: none;
          background-color: #ddd;
        }

        &.current {
          color: #333;
          border-color: $global-current !important;
          font-weight: bold;
          background-color: #eee;
        }
      }
    }
  }

  ul#global-status {
    float: right;

    > li > ul {
      right: 0;
    }
  }

  ul#global-navigation > li > a {
    &:before {
      font-size: 1.9em;
      font-family: FontAwesome;
      content: '\f03a  ';
    }

    padding-bottom: 8px;
  }

  @include media(display) {
    ul#global-navigation {
      > li > a { display: none; }

      ul {
        visibility: visible;
        padding: 0;
        margin: 0;
        border: 0;
        background-color: transparent;
        width: auto;
        position: relative;

        > li {
          float: left;
          > a  {
            @include global-item;
            @include media(handheld) {
              @include global-item-handheld;
            }
            color: #ddd;

            &:hover {
              text-decoration: none;
              background-color: $global-hover;
              @include background-image(
                linear-gradient(lighten($global-hover, $global-gradient), $global-hover));
            }

            &.current {
              background-color: transparent;
              border-left: none;
            }
          }
        }
      }
    }
  }
}
