- if meals.any?
  - meals.group_by(&:category).each do |category, meals|
    %li
      %h3= category
      - if meals
        - meals.each do |meal|
          %p= meal.name
- else
  %li
    %h3= t(:no_meals_title)
    %p= t(:no_meals_message)
