
.row
  .span8
    %section
      %header#canteen-header
        %h1= @canteen.name
      #remote-canteens-show
        = render partial: "show_section"

  .span4
    %section
      %header
        %h2=t :canteen, :address
      = map @canteen
      .content
        %address= @canteen.address

