
.section
  %header
    %h1= @canteen.name

  %section#remote-canteens-show
    = render partial: "show_section"

= content_for :aside do
  .section
    %section
      %header.header
        %h2 Blub
