
.row
  .span8
    .section
      %header
        %h1= @canteen.name

      %section#remote-canteens-show
        = render partial: "show_section"

  .span4
    .section
      %section
        %header
          %h2 Location

        = map @canteen


