@use "sass:color";

@use "responsive";
@use "variables";

@mixin alert($color, $bg, $border) {
  color: $color;
  padding: 10px 32px 10px 14px;
  background-color: $bg;
  border: 1px solid $border;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin: 14px 0 0;

  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }

  > a.close {
    content: "×";
    float: right;
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    color: #aaa;
    font-size: 20px;
    padding: 3px 12px;
    font-weight: bold;

    &:hover {
      color: #333;
      text-decoration: none;
    }
  }

  @include responsive.media(handheld) {
    margin: 3px 0;
    padding: 4px 29px 4px 6px;
  }
}

.alert {
  @include alert(
    variables.$alert,
    variables.$alert-bg,
    variables.$alert-border
  );
}
.alert-error {
  @include alert(
    variables.$alert-error,
    variables.$alert-error-bg,
    variables.$alert-error-border
  );
}
.alert-notice,
.alert-success {
  @include alert(
    variables.$alert-notice,
    variables.$alert-notice-bg,
    variables.$alert-notice-border
  );
}
.alert-warning {
  @include alert(
    variables.$alert-warning,
    variables.$alert-warning-bg,
    variables.$alert-warning-border
  );
}
