@use "variables";
@use "typography";

form {
  margin: 1em 0;

  fieldset {
    margin: 2em 0 1em 0;
    padding: 0 1em;

    border: none;
    border-top: 1px solid variables.$frame-color;

    > legend {
      padding: 0 5px;
      margin: 0 0 0 -5px;
    }
  }

  p,
  .form-group {
    margin: 1em 0;
    padding: 0;

    label {
      display: block;
      font-weight: bold;

      & > .icon {
        margin-right: 0.4em;
      }
    }

    input[type="text"],
    input.string {
      width: 100%;
      max-width: 400px;

      margin: 4px 0;
      padding: 4px;
      border: 1px solid #ccc;
      border-radius: 2px;
      background-color: #fff;

      box-shadow: 0 0 3px rgba(#000, 0.2);

      transition: 0.2s ease-in-out;

      &:hover,
      &:focus {
        outline: none;
        border-color: #aaa;
        box-shadow: 0 0 3px rgba(#000, 0.4);
      }

      &:focus {
        border-color: #777;
      }

      &[readonly],
      &:disabled {
        box-shadow: none;
        border-color: #ccc;
        background-color: #fafafa;
      }
    }

    .error {
      input[type="text"] {
        box-shadow: 0 0 3px rgba(red, 0.4);

        &:hover,
        &:focus {
          box-shadow: 0 0 3px rgba(red, 0.6);
        }
      }

      .help-inline {
        color: red;
        display: block;
        font-style: italic;
        font-size: 0.85em;
        margin: 0 0 0 10px;

        &:before {
          content: "* ";
        }
      }
    }

    .invalid-feedback {
      color: red;
      display: block;
      font-style: italic;
      font-size: 0.85em;
      margin: 0 0 0 10px;

      &:before {
        content: "* ";
      }
    }

    input[type="submit"] {
      margin: 4px 0 4px 2px;
    }

    .form-text {
      font-size: 0.85em;
      color: #555;

      margin: 0 0.2em;
    }

    .form-check {
      display: block;
      min-height: 1.5rem;
      padding-left: 1.5em;
      margin-bottom: 0.125rem;

      .form-text {
        margin: 0;
      }

      .form-check-input {
        float: left;
        margin-left: -1.5em;

        width: 1em;
        height: 1em;
        margin-top: 0.15em;
        vertical-align: top;
      }
    }
  }
}
