@use "sass:math";

@use "responsive";
@use "variables";

$grid-count: 12 !default;
$grid-gutter: 1.5% !default;

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  gap: 1.5%;

  width: 100%;
  padding: 0;

  @for $i from 1 through $grid-count {
    > .span#{$i} {
      width: math.div(100%, 12) * $i;

      @include responsive.media(handheld) {
        width: 100%;
      }
    }

    > .offset#{$i} {
      margin-left: math.div(100%, 12) * $i;
    }
  }

  &.reversed {
    flex-direction: row-reverse;
  }

  &:not(.tablet) {
    @include responsive.media(handheld) {
      display: block;
    }
  }
}
