.row
  .span8
    %h1 Developer Resources
    %h3 Client API-Schnittstelle
    %p
      To be announced...
    %h3 Spezifikation Feed-XML-Dokumentenformat
    %p
      To be announced...
    %h3 Register your feed!
    %p
      To be announced...
