.row.box
  .span12
    .section
      %section
        %header.header
          %h1 OpenMensa für Entwickler
        .content
          .row
            .span6
              %h2 Web-API
              %p
                OpenMensa bietet eine umfangreiche API zum Zugriff auf alle freien
                Daten sowie zahlreiche Möglichkeiten als Benutzer direkt mit
                dem System zu interagieren.
            .span6
              %h2 Mensa-Provider
              %p
                Wir können nicht jede Mensa oder Kantine, die ihr euch wünscht, selber in das
                System einflegen und gleichzeitig neue Features für die Webseite und die Apps
                entwicklen. Und genau deswegen sind wir auf eure Hilfe angewiesen!
          .row
            .span6
              %p
                Das OpenMensa Team erarbeitet in engem Kontakt mit freien App-Entwicklern
                derzeit die neue Version 2 der OpenMensa API um einen einfachen und doch
                umfassenden Zugriff auf alle Daten zu ermöglichen.
            .span6
              %p
                Du kannst selber dafür sorgen, dass deine Mensa über OpenMensa erreichbar
                ist. Schreib einen Parser, der die Webseite oder den Feed deiner Mensa in ein
                von uns lesbares Format umwandelt. Die URL zu deinem Feed kannst du demnächst
                direkt in deinem Profil eintragen.
