.section
  %section
    %header
      %h1 Impressum
    .content
      %p.description Verantwortlich für den Inhalt dieser Seiten zeichnen sich:

      .row.p
        .span4
          %address#jgraichen
            .name Jan Graichen
            .address Stahnsdorfer Str. 144a
            .city DE-14482 Potsdam
        .span4
          %address#kfabian
            .name Kai Fabian
            .address Frankenhauser Str. 37
            .city DE-12249 Berlin
        .span4
          %address#mspringer
            .name Matthias Springer
            .address Stahnsdorfer Str. 144c
            .city DE-14482 Potsdam
      .row.p
        .span4
          %address#cnicolai
            .name Christian Nicolai

= content_for :aside do
  .section
    %section
      %header
      .content
        = raw "Du hast Kritik oder Anregung für uns? Dann schreib uns einfach ein Nachricht an #{link_to 'info@openmensa.org', 'mailto:info@openmensa.org'}."
