/* custom css */

@media screen {
  html {
    font-size: 125% !important;
  }
}

:root > * {
  /* native system font stack */
  --md-text-font:
    system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Noto Sans", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell",
    "Helvetica Neue", Arial, sans-serif, "Blobmoji", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

  --md-code-font:
    ui-monospace, "SFMono-Regular", "Menlo", "Monaco", "Noto Mono", "Consolas",
    "Liberation Mono", "Courier New", monospace, "Blobmoji",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* ensure tables are 100% */
.md-typeset__table {
  min-width: 100%;
}

.md-typeset table:not([class]) {
  display: table;
}

/* extensions */

.nowrap {
  white-space: nowrap;
}

.md-content figure:not(.noborder) img {
  border: 1px solid var(--lt-color-border-default);
  padding: 1px;
}
