
$alert: #333 !default;
$alert-bg: lighten(#ccc, 19%) !default;
$alert-border: darken(#ccc, 10%) !default;
$alert-error: #B94A48 !default;
$alert-error-bg: #F2DEDE !default;
$alert-error-border: darken($alert-error-bg, 20%) !default;
$alert-warning: #C09853 !default;
$alert-warning-bg: #FCF8E3 !default;
$alert-warning-border: darken($alert-warning-bg, 30%) !default;
$alert-notice: darken(#468847, 15%) !default;
$alert-notice-bg: #DFF0D8 !default;
$alert-notice-border: darken($alert-notice-bg, 30%) !default;


@mixin alert($color, $bg, $border) {
  color: $color;
  padding: 6px 9px;
  background-color: $bg;
  border: 1px solid $border;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  @include box-shadow(0 0 2px rgba(0, 0, 0, 0.2));
  @include p;

  > :first-child { margin-top: 0; }
  > :last-child  { margin-bottom: 0; }
}

.alert {
  @include alert($alert, $alert-bg, $alert-border); }
.alert-error {
  @include alert($alert-error, $alert-error-bg, $alert-error-border); }
.alert-notice, .alert-success {
  @include alert($alert-notice, $alert-notice-bg, $alert-notice-border); }
.alert-warning {
  @include alert($alert-warning, $alert-warning-bg, $alert-warning-border); }
