
body {
  margin: 0;
  padding: 0;

  background-color: #ededed;
  background-image: image-url("fbg.png");
}

.fwrapper {
  @include pie-clearfix;
}

.cwrapper {
  margin: 0 auto;
  width: 900px;
}

header#header {
  @extend .fwrapper;
  @extend .cwrapper;
  padding: 10px 0;

  background-image: image-url("hbg.png");
  @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.4));

  h1 {
    background: transparent image-url("logo3.png") no-repeat 0 50%;
    text-shadow: 0 1px 1px #aaa;

    font-size: 230%;
    width: 50%;
    float: left;
    padding: 5px 0 5px 75px;
    margin: 0;

    a {
      color: #333;

      &:hover { text-decoration: none; }
    }

    img {
      float: right;
      position: absolute;
      top: -20px;
      margin-left: 40px;
      z-index: 2000;
    }
  }

  .actions {
    padding: 0 10px 0 0;

    a {
      display: block;
      float: right;
      font-size: 30px;
      color: #ccc;
      height: 50px;
      width: 50px;
      border-radius: 25px;
      text-align: center;
      margin-right: 20px;

      @include transition(all .3s ease-in-out .2s);

      &:hover {
        text-decoration: none;
        color: #333;

        @include transition(all .1s ease-in-out);
        // background-color: rgba(0,0,0,0.02);
      }

      span {
        display: block;
        margin: 6px 0 0 0;
      }
    }
  }
}

#content {
  @extend .fwrapper;
  @extend .cwrapper;

  margin-bottom: 25px;

  .singelton {
    margin: 40px 0;
  }

  .section {
    background-color: #fff;
    @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.4));
    margin: 14px 0 0 0;
    // padding-bottom: 10px;

    > header {
      padding: 95px 0 35px;
      background-color: #fff;
      background-image: image-url("canteen.jpg");
      background-repeat: no-repeat;
      background-position: 50% 50%;

      h1 {
        color: #fff;
        padding: 15px 15px;
        background-color: rgba(0, 0, 0, 0.8);
      }
    }

    > section {
      margin: 0;
      padding: 0;
      display: block;

      header {
        padding: 4px 15px 3px 15px;
        border-top: 1px solid #ddd;
        text-shadow: 0 1px 1px #aaa;
        background-image: image-url("hbg.png");
        // @include box-shadow(0 2px 2px rgba(0, 0, 0, 0.05) inset);

        ~ .content {
          border-top: 1px solid #ddd;
          @include box-shadow(0 2px 2px rgba(0, 0, 0, 0.05) inset);
        }

        h3, h4, h5 {
          margin: 4px 0;
        }
      }

      .content {
        padding: 5px 15px 6px 15px;
      }
    }
  }
}

footer#footer {
  color: #aaa;
  padding: 4px 1px 1px;
  text-align: left;
  text-shadow: 0 1px 1px #fff;
  margin-top: 10px;

  // background-color: rgba(255, 255, 255, .4);
  // @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.1));

  p {
    font-size: 11px;
    font-size: 1.1rem;
    margin: 0;
    padding: 4px 4px 2px;

    span { float: right; }

    &:first-child {
      border: none;
      padding-top: 1px;
    }
  }

  a {
    color: #aaa;
    &:hover {
      color: #555;
    }
  }
}
