@import "css3/linear-gradient";
@import "addons/font-family";
@import "responsive";

.leaflet-popup-content-wrapper {
  border-radius: 0;
}
.leaflet-container a.leaflet-popup-close-button {
  padding: 2px 0 0 0;
}
.leaflet-control-zoom {
  border-radius: 4px;
  a { border-radius: 2px; }
}
.leaflet-control-attribution {
  font: 10px/1.3 $helvetica !important;
  letter-spacing: -1px;
  padding: 0 2px 0 1px;
}

.marker-cluster-small, .marker-cluster-medium, .marker-cluster-large {
  background-color: #4598d0;
  background-color: rgba(#4598d0, 0.9);
  @include linear-gradient(rgba(#4598d0, 0.9), rgba(#1374cf, 0.9));
  // opacity: 0.2;
  border: 1px solid #597393;
  border: 1px solid rgba(#597393, 0.9);
  text-align: center;

  div {
    margin: 5px;
    font-weight: bold;
    background-color: #fff;
    // border: 1px solid #597393;
    // border: 1px solid rgba(#597393, 0.8);

    width: 24px;
    height: 24px;
  }

  span {
    line-height: 25px;
  }
}

.map {
  width: 100%;
  height: 250px;
}

#index_map {

  .favorites {
    background-image: image-url("hbg.png");
    height: 500px;

    .content, ul {
      background: #fff;
      border-bottom: 1px solid $frame-color;
    }
  }

  .map {
    height: 500px;
  }

  @include media(handheld) {
    .map {
      height: 350px;
    }

    .favorites {
      width: 100%;
      height: auto;
      border-bottom: none;

      &.empty { display: none; visibility: hidden; }
    }
  }

  @include media(mobile) {
    .map {
      height: 250px;
    }
  }
}

