// Main stylesheet file for default desktop (screen) devices.
//
//= require "theme/default/style"
//= require_self

@import "bourbon";
@import "compass";

@import "layout";
@import "typography";
@import "grid";

@import "map";

.appbox {
  position: relative;
  border-top: 1px solid #ddd;
  @include box-shadow(0 2px 2px rgba(0, 0, 0, 0.05) inset);

  a {
    color: #333;
    display: block;
    font-size: 14px;
    padding: 20px 0 18px 55px;
    background: transparent none no-repeat 12px 12px;

    span { font-weight: bold; }
  }

  .qr {
    float: left;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    left: -202px;
    z-index: 1000;

    opacity: 0;
    background-color: #fff;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-right: none;
    @include transition(all .2s ease-in-out);
  }
  a.available:hover {
    background-color: #fff;
    margin-left: -4px;
    margin-right: -4px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

    .qr {
      display: block;
      opacity: 1;
      @include transition(all .2s ease-in-out);
    }
  }
}

.android {
  @extend .appbox;
  // background: #CBE86E;
  a { background-image: image-url("android-icon.png"); }
}

.ios {
  @extend .appbox;
  a { background-image: image-url("ios.png"); }
}

.wphone {
  @extend .appbox;
  a { background-image: image-url("winphone.png"); }
}

.bb {
  @extend .appbox;
  a { background-image: image-url("bb.png"); }
}

.canteens_controller {
  .page-header {
    a.next, a.prev {
      display: block;
      margin: 7px 0 0;
      padding: 4px;

      span {
        width: 14px;
        height: 14px;
        display: block;
        @include transform(rotate(-45deg));
      }

      &.next {
        float: right;

        span {
          border-bottom: 3px solid #ccc;
          border-right: 3px solid #ccc;
        }
      }

      &.prev {
        float: left;

        span {
          border-top: 3px solid #ccc;
          border-left: 3px solid #ccc;
        }
      }

      &:hover span {
        border-color: #333;
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }

  ul.meals {
    margin: 0;
    padding: 0 0 5px;
    list-style: none;

    li {
      border-top: 1px solid #e5e5e5;
      padding: 4px 15px 5px;
      @include clearfix;

      &:first-child {
        padding-top: 8px;
        @include box-shadow(0 2px 2px rgba(0, 0, 0, 0.05) inset);
      }

      h3 {
        float: left;
        width: 120px;
        font-size: 13px;
        font-size: 1.3rem;
        font-weight: bold;
        text-align: right;
        margin: 4px 0 0 0;
      }

      p {
        margin: 4px 0 0 135px;
        padding: 0 5px 4px;
        border-bottom: 1px dotted #eee;
        &:last-child { border: none; }
      }
    }
  }
}
