// Main stylesheet file for default desktop (screen) devices.
//
//= require_self

@import "font-awesome";
@import "leaflet";
@import "leaflet.markercluster";
@import "bourbon";
@import "compass";

@import "typography";
@import "layout";
@import "grid";
@import "alerts";
@import "buttons";
@import "form";

@import "map";

.hide { display: none; }
.icon-google_oauth2-sign { @extend .icon-google-plus-sign }

.appbox {
  position: relative;
  border-top: 1px solid #ddd;
  @include box-shadow(0 2px 2px rgba(0, 0, 0, 0.05) inset);

  a {
    color: #333;
    display: block;
    font-size: 14px;
    padding: 20px 0 18px 55px;
    background: transparent none no-repeat 12px 12px;

    span { font-weight: bold; }
  }

  .qr {
    float: left;
    overflow: hidden;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1000;
    width: 0;
    height: 0;

    opacity: 0.0;
    background-color: #fff;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-right: none;
  }

  &.available a:hover {
    background-color: #fff;
    margin-left: -4px;
    margin-right: -4px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-left: 59px;

    .qr {
      display: block;
      opacity: 1.0;
      width: 200px;
      height: 200px;
      left: -202px;

      @include transition(opacity .2s ease-in-out);
    }
  }
}

.android {
  @extend .appbox;
  // background: #CBE86E;
  a { background-image: image-url("android-icon.png"); }
}

.ios {
  @extend .appbox;
  a { background-image: image-url("ios.png"); }
}

.wphone {
  @extend .appbox;
  a { background-image: image-url("winphone.png"); }
}

.bb {
  @extend .appbox;
  a { background-image: image-url("bb.png"); }
}

.canteens_controller {
  #canteen-header {
    padding: 95px 0 35px;
    background-color: #fff;
    background-image: image-url("canteen.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    h1 {
      color: #fff;
      margin: 0;
      padding: 15px 25px;
      text-shadow: none;
      background-color: rgba(0, 0, 0, 0.8);
    }

    @include media(tablet) {
      padding: 0;
      background-image: none;
    }

    @include media(mobile) {
      padding: 0;
      background-image: none;

      h1 {
        margin: 0;
        padding: 3px 4px;
        text-align: center;
      }
    }
  }

  .page-header {
    @include clearfix;

    @include media(handheld) {
      h2 {
        margin-top: 7px;
        font-size: 18px; font-size: 1.8rem;
      }
    }

    a.next, a.prev {
      display: block;
      margin: 3px 0 0;
      padding: 10px;

      @include media(handheld) {
        margin: 0;
      }

      span {
        width: 14px;
        height: 14px;
        display: block;
        @include transform(rotate(-45deg));
        @include transition(all .1s ease-in-out);
      }

      &.next {
        float: right;

        span {
          border-bottom: 3px solid #ccc;
          border-right: 3px solid #ccc;
        }
      }

      &.prev {
        float: left;

        span {
          border-top: 3px solid #ccc;
          border-left: 3px solid #ccc;
        }
      }

      &:hover span {
        border-color: #333;
        background-color: rgba(0, 0, 0, 0.05);
        @include transition(all .1s ease-in-out);
      }
    }
  }

  ul.meals {
    margin: 0;
    padding: 0 0 5px;
    list-style: none;

    li {
      border-top: 1px solid #e5e5e5;
      padding: 4px 15px 5px;
      @include clearfix;

      &:first-child {
        padding-top: 8px;
        @include box-shadow(0 2px 2px rgba(0, 0, 0, 0.05) inset);
      }

      h3 {
        float: left;
        width: 140px;
        font-size: 13px;
        font-size: 1.3rem;
        font-weight: bold;
        text-align: right;
        margin: 4px 0 0 0;
      }

      p {
        margin: 4px 0 0 155px;
        padding: 0 5px 4px;
        border-bottom: 1px dotted #eee;
        &:last-child { border: none; }
      }

      @include media(mobile) {
        padding: 1px 4px !important;
        h3 { float: none; width: 100%; text-align: left; margin: 2px 0; }
        p { margin-left: 30px; }
      }
    }
  }
}

.users_controller {
  .identities {
    @include clearfix;
    padding: 3px 3px 4px !important;

    p { clear: both; padding: 6px 12px 0; }
  }

  .identity {
    float: left;
    width: 42%;
    height: 74px;
    margin: 4px;
    padding: 0 14px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    border: 1px solid #ddd;
    @include box-shadow(0 1px 3px rgba(#000, 0.1));

    @include media(mobile) {
      width: 85%;
    }

    i {
      color: #444;
      float: left;
      font-size: 60px;
    }

    span.provider {
      display: block;
      margin: 24px 0 0 55px;
      font-size: 11px;
      font-size: 1.1rem;
      color: #999;
    }

    span.uid {
      display: block;
      margin: 0 0 0 55px;
    }

    a.destroy {
      position: absolute;
      top: 0;
      right: 0;

      color: #aaa;
      display: block;
      font-weight: bold;
      font-size: 20px;
      padding: 0 10px 0 6px;

      &:hover {
        color: #333;
        text-decoration: none;
      }
    }

    &.add_notice {
      float: right;
      text-align: right !important;
      border: 0;
      margin-right: 10px !important;
      @include box-shadow(none);
    }
  }
}
